{% csrf_token %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description"
        content="">
    <meta name="robots" content="noindex,nofollow">
    <title>EstateHub System</title>
    <!-- Favicon icon -->
    <link rel="icon" type="/static/admin/image/png" sizes="16x16" href="plugins/images/favicon.png">
    <!-- Custom CSS -->
   <link href="/static/admin/css/style.min.css" rel="stylesheet">
   <style type="text/css">
       .logo-text {
            color: black !important;
            font-weight: 900 !important;
            margin: auto;
        }
   </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        {% include "admin/navbar.html" %}
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/"
                                aria-expanded="false">
                                <i class="far fa-clock" aria-hidden="true"></i>
                                <span class="hide-menu">Admin</span>
                            </a>
                        </li>
                         
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/booking/"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Booking</span>
                            </a>
                        </li>
                        
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/seller/"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Seller</span>
                            </a>
                        </li>

                         <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/profile/"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Profile</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/properties/"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Properties</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/products/"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Product</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/orders/"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Orders</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/user/"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Users</span>
                            </a>
                        </li>
                       
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <!-- <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Basic Table</h4>
                    </div> -->
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <!-- <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">Admin</a></li>
                            </ol> -->
                            <!-- <a href="https://www.wrappixel.com/templates/ampleadmin/" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Upgrade
                                to Pro</a> -->
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <div class="table-responsive">
                                <table class="table text-nowrap" id="tableData">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Sl No</th>
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">Email</th>
                                            <th class="border-top-0">Mobile No</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
             <div class="modal fade" id="add_modal">
            <div class="modal-dialog" style="width: 50%;">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">ADD</h4>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Name <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="txtName" onkeypress="return alphaOnly(event);">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Email <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="txtEmail">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Mobile <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="txtMobileNo" onkeypress="return isNumberKey(event);" maxlength="10">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Password <span
                                                class="text-danger">*</span></label>
                                        <input type="Password" class="form-control" id="txtPassword">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Role <span class="text-danger">*</span></label>
                                        <select class="form-control" id="selRole">
                                            <!-- <option value="">Select Role</option> -->
                                            <option value="Admin">Admin</option>
                                            <!-- <option value="Seller">Seller</option> -->
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-12 text-center">
                                    <button type="button" class="btn btn-success" id="btn_add">
                                         Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ADD WORK -->

        <!-- EDIT WORK  -->

        <!-- The Modal -->
        <div class="modal fade" id="edit_modal">
            <div class="modal-dialog" style="width: 50%;">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Update</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="#">
                            <input type="hidden" id="edit_id">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Name <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="txtName1"  onkeypress="return alphaOnly(event);">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Email <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="txtEmail1">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Mobile <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="txtMobileNo1" onkeypress="return isNumberKey(event);" maxlength="10">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Role <span class="text-danger">*</span></label>
                                        <select class="form-control" id="selRole1">
                                            <!-- <option value="">Select Role</option> -->
                                            <!-- <option value="Admin">Admin</option> -->
                                            <option value="Seller">Seller</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-12 text-center mt-3">
                                    <button type="button" class="btn btn-success" id="btn_update">
                                        <span class=""></span> Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDIT WORK -->


        <!-- Delete Field -->

        <!-- The Modal -->
        <div class="modal fade" id="delete_modal">
            <div class="modal-dialog" style="width: 50%;">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p class="text-center">
                            Are you sure you want to delete?
                        </p>
                        <input type="hidden" id="delete_id">
                        <div class="row">
                            <div class="col-md-12 ms-auto modal-footer">
                                <button type="button" class="btn btn-success" id="btn_delete">Yes</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                    No
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <footer class="footer text-center"> 2024 © Property</footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/admin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/admin/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/admin/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/static/admin/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/admin/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/admin/js/custom.js"></script>
    <!-- <script src="/static/admin/js/jsAdmin.js"></script> -->

</body>

</html>

<script type="text/javascript">
    function getAdminData() {
      // alert("Hi");
      var formData = new FormData();
      formData.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());
      formData.append("action", "getData");

      $.ajax({

          url: "/user_details/",
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            $("#tableData tr:gt(0)").remove();
            for(var i = 0; i < response.length; i++) {
              var j = i + 1;
              $("#tableData").append('<tr><td>'+j+'</td><td style="display: none;">'+response[i].us_id+'</td><td>'+response[i].us_name+'</td><td>'+response[i].us_email+'</td><td>'+response[i].us_mobile+'</td></tr>');
            }
          },
          error: function (request, error) {
            console.error(error);
          },
          complete: function () {

          },
        });

    }
    getAdminData();

</script>